@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&display=swap');
.para{
    font-family: 'Glory', sans-serif;
}

.btn{
    width: 200px;
    height: 30pxpx;
}
.lang{
    width: auto;
    margin: 0px 30px;

}